body {
    margin: 0;
    display: grid;
    place-items: center;
}

#slice {
    width: 800px;
    height: 500px;
    position: relative;
    /* background-color: coral; */
}

#slice img {
    width: 100%;
    height: auto;
    opacity: 1;
}

/* #slice div {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    transform: rotateY(-50deg) scale(0.5);
    transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform-origin: left;
    opacity: 0;
}

#slice.active div {
    opacity: 1;
    transform: rotateY(0deg) translateY(0);
    transition-delay: 0.5s;
} */