body {
    margin: 0;
    display: grid;
    place-items: center;
}

.slice {
    width: 800px;
    height: 500px;
    position: relative;
    /* background-color: coral; */
}

.slice .image {
    width: 100%;
    height: auto;
    opacity: 0;
}

.slice div {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
}