body{
    margin: 0;
    height: 100vh;
    font-family: 'monospace';
    overflow: hidden;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(10, auto);

    .divtimeline {
        background-color: white;
        height: 100vh;
        transition: background-color 1s ;
    }
}

.heading {
    font-size: 5em;
    position: absolute;
    top: 10%;
    left: 12%;
    opacity: 0;
    z-index: 2;
}

.subtitle {
    font-size: 5em;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
}

.subtitles{
    opacity: 0;
}

.button{
    position: absolute;
    bottom: 20%;
    right: 20%;
    z-index: 2;
    background-color: white;
    color: rgb(144, 156, 255);
    padding: 20px 50px;
    font-size: large;
    border: none;
    border-radius: 2em;
}

